name: demo-build

on:
  push:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}


      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r flask-app/requirements.txt

      - name: Run app test
        run: |
           python3 -m unittest discover

  
  test:
    runs-on: ubuntu-latest

    needs: build

    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies again
        run: |
          python -m pip install --upgrade pip
          pip install -r flask-app/requirements.txt
          pip install pytest

      - name: Run tests
        run: pytest